<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woldev.enriq.ecards">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".VariablesGlobales"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPrincipal" />
        <activity android:name=".ActivityTarjetas" />
        <activity android:name=".ActivityCrearPin" />
        <activity android:name=".ActivityLoginPin" />
        <activity android:name=".ActivityRecuperarPin" />
        <activity android:name=".ActivityRecuperarContrasena" />
        <activity android:name=".perfil" />
        <activity android:name=".editperfil" />
        <activity android:name=".ActivityDashboard" />
        <activity android:name=".ActivityMenuAdmin" />
        <activity android:name=".ActivityMenuLider" />
        <activity android:name=".ActivitySelectImagen" />
        <activity android:name=".ActivityCrearReunion" />
        <activity android:name=".ActivityMenuSuperU" />
        <activity android:name=".ActivityVerTarjeta" />
        <activity android:name=".ListaUsuarios" />
        <activity android:name=".ActivityCrearTarjeta" />
        <activity android:name=".ActivityCrearTester" />
        <activity android:name=".ActivityInformacionUsuario" />
        <activity android:name=".ActivityCorte" />
        <activity android:name=".ActivityTiposTareas" />
        <activity android:name=".ActivityProyectos" />
        <activity android:name=".ActivityRamas" />
        <activity android:name=".ActivityUsuariosNuevos" />
        <activity android:name=".ActivityRama" />
        <activity android:name=".ActivityHistorialCorte" />
        <activity android:name=".ExpandableUsuarioActivity" />
        <activity android:name=".ActivityCrearRama" />
        <activity android:name=".ActivityCrearTipoTarea" />

        <service android:name=".FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ActivityVerProyecto" />
    </application>

</manifest>