<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enriq.ecards">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".VariablesGlobales"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Card" />
        <activity android:name=".Crear_Pin" />
        <activity android:name=".login_pin" />
        <activity android:name=".Recuperar_PIN" />
        <activity android:name=".RecuperarContrasena" />
        <activity android:name=".perfil" />
        <activity android:name=".editperfil" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MenuAdmin" />
        <activity android:name=".MenuLider" />
        <activity android:name=".SelectImagen" />
        <activity android:name=".CrearReunion" />
        <activity android:name=".MenuSuperU" />
        <activity android:name=".Tarjeta" />
        <activity android:name=".ListaUsuarios" />
        <activity android:name=".Crear_Tarjeta" />
        <activity android:name=".Crear_Tester" />
        <activity android:name=".InfoUser" />
        <activity android:name=".Corte" />
        <activity android:name=".TiposTareas" />
        <activity android:name=".Proyectos"></activity>
    </application>

</manifest>